html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  width: 100%;
  background: #c9d6ff; /* fallback for old browsers */

  /* Linear Gradient To Right - Simple Version */

  /* background-image: linear-gradient(
    90deg,
    hsl(173deg 41% 62%) 0%,
    hsl(153deg 32% 69%) 25%,
    hsl(105deg 28% 73%) 50%,
    hsl(71deg 37% 72%) 75%,
    hsl(54deg 53% 72%) 100%
  ); */

  /* Complex Linear Gradient to right top */

  background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, 
      #FAE3D9 calc(35% + 1px), #FAE3D9 45%, 
      #BBDED6 calc(45% + 1px), #BBDED6 65%, 
      #61C0BF calc(65% + 1px), #61C0BF 100%);
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}